<div class="container">
  <div class="note">note: the calculated MS is based on the formula that is shown by game.
    the game actually reduces the passive effect as you get more MS so the calculated MS here is higher than in game amount</div>
  <div>
    <mat-radio-group [(ngModel)]="precision">
      Precision:
      <mat-radio-button value="none">None</mat-radio-button> |
      <mat-radio-button value="fleet">
        Fleet footwork
        <img src="assets/img/Fleet_Footwork_rune.png" class="icon"/>
      </mat-radio-button> |
      <mat-radio-button value="lethal">
        Lethal tempo
        <img src="assets/img/Lethal_Tempo_rune.png" class="icon"/>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="alacrity">
      Legends Alacrity
      <img src="assets/img/Legend-_Alacrity_rune.png" class="icon"/>
    </mat-checkbox> |
    <mat-checkbox [(ngModel)]="runeAs">
      Rune + 10% attack speed
    </mat-checkbox>
  </div>

  <div>
    Sorcery:
    <mat-checkbox [(ngModel)]="celerity">Celerity <img src="assets/img/Celerity_rune.png" class="icon"/></mat-checkbox> |
    <mat-checkbox [(ngModel)]="waterWalking">Water Walking <img src="assets/img/Waterwalking_rune.png" class="icon"/></mat-checkbox>
  </div>
  <div>
    Summoners:
    <mat-checkbox [(ngModel)]="ghost">Ghost   <img src="assets/img/ghost.png" class="icon"/></mat-checkbox>
  </div>

  <div>
    Allow items:

    <mat-checkbox [(ngModel)]="allowRighteous">
      Righteous Glory
      <img src="assets/img/Righteous_Glory_item.png" class="icon"/>
    </mat-checkbox> |
    <mat-checkbox [(ngModel)]="allowRot">
      Zz'Rot Portal
      <img src="assets/img/ZzRot_Portal_item.png" class="icon"/>
    </mat-checkbox>
  </div>
  <div>
    <mat-radio-group [(ngModel)]="filterBy">
      Filter by:
      <mat-radio-button value="ms">Movement speed</mat-radio-button>
      <mat-radio-button value="cost">Cost</mat-radio-button>
      <mat-radio-button value="efficiency">Efficiency</mat-radio-button>
    </mat-radio-group>
  </div>



  <div>
    <button mat-raised-button (click)="find()">Find</button>
  </div>

  <div class="list">
    <div class="item" *ngFor="let row of results; let i = index">
      <span class="index">{{i+1}}</span>
      <img *ngFor="let item of row.items" [src]="item.img"/>
      <span> {{row.ms}}<img src="assets/img/ghost.png" class="icon"/> | </span>
      <span>{{row.cost}} <img src="assets/img/gold.png" class="icon"/></span>
      <span>efficiency: {{row.efficiency}}</span>
<!--      <span>percent: {{row.percent}}</span>-->
<!--      <span>pass: {{row.passive}}</span>-->
<!--      <span>flat: {{row.flat}}</span>-->
    </div>

  </div>

</div>
